#nav-bar {
  background-color: #00a087;
  height: 80px;
  left: 0;
  padding-left: 2em;
  padding-right: 2em;
  position: fixed;
  right: 0;
  top: 0;
}

#nav-bar .logo {
  float: left;
  height: 80px;
  margin-right: 10px;
  width: 80px;
  z-index: 1;
}

#nav-bar .header {
  color: #e8fdff;
  float: left;
  font-size: 2em;
  line-height: 80px;
}